.pm-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  /* max-width: 900px; */
  margin: 40px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}

.pm-form .form-label {
  font-weight: 500;
  color: #333;
  text-align: left;
  display: block;
}

.pm-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 25px;
  text-align: left;
}

.delegate-title {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}

.delegate-subtitle {
  font-size: 16px;
  color: #7f8c8d;
  text-align: left;
  margin-bottom: 10px;
}

textarea.form-control {
  resize: none;
}





/* Add these to your existing CSS */
.table-responsive {
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

.table {
  margin-bottom: 0;
}

.table th {
  background-color: #f8f9fa;
  font-weight: 600;
  color: #495057;
  vertical-align: middle;
}

.table td {
  vertical-align: middle;
}

.badge {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 500;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}




.action-icon {
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.action-icon:hover {
  transform: scale(1.2);
}

.table
.pm-chart-table-header th {
  color: #fcfefe;
  background-color: #0096D6;
  font-weight: bold;
  text-align: left;
}