.setpass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f9fc;
  min-height: 100vh;
  padding: 20px;
}

.setpass-card {
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  position: relative;
  text-align: center;
}

.setpass-back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
}

.setpass-logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.setpass-logo {
  width: 120px;
  height: 50px;
  object-fit: contain;
}

.setpass-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}



.input-icon {
  font-size: 18px;
  margin-right: 10px;
  color: #555;
}


.set-input-wrapper {
  background-color: #f0f4f8;
  border-radius: 12px;
  padding: 12px 15px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  gap:10px;
}

.pass-input {
  border: none;
  background: transparent;
  font-size: 16px;
  width: 100%;
  outline: none;
  padding-left: 10px;
  text-align: center;
  letter-spacing: 2px;
}




.setpass-submit-button {
  width: 100%;
  background-color: #0096d6;
  padding: 15px;
  border-radius: 12px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

.set-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
